.App {
  text-align: center;
}

.App-header {
  background-color: #DCF2F1;
  padding: 20px;
  color: #0F1035;
}
.head-1{
  padding-bottom: 2em;
}

.App-header nav ul {
  list-style: none;
  padding: 0;
}

.App-header nav ul li {
  display: inline;
  margin: 0 10px;
}

.App-header nav ul li a {
  color: #0F1035;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

footer {
  background-color: #0F1035;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.bg {
  background-size: cover;
  height: 500px;
}
.banner {
  width: 100%;
  height: 400px;
  background-image: url(./img/Bg1.jpg);
  background-size: cover; /* 핵심코드 */
  position: relative; /* 핵심코드 */
  display : inline-block;
  margin-top: 10px;
  margin-bottom: 5%;
  max-width: 100%;
  background-repeat :no-repeat;
}

.banner-txt {
  position: absolute; /* 핵심코드 */
  top: 50%; /* 핵심코드 */
  left: 50%; /* 핵심코드 */
  transform: translate( -50%, -50%); /* 핵심코드 */
  font-size: x-large;
  color: gray;
}
.bus {
  width: 350px;
  height: 400px;
  object-fit: contain;
}